//
// Styles
// --------------------------------------------------

// Includes
@import "variables.less";
@import "mixins.less";


// Opening Screen

// --------------------------------------------------
#challenge-dialog-wrapper {
	.dialog();
	.default-child-properties();

	#hero {
		.center-block();
		height: 30%;
		width: auto !important;
		margin-top: 10%;
		position: relative;
		min-width: 0% !important;
		max-width: 100% !important;
	}
}


// Buttons

// --------------------------------------------------
#challenge-help-button, 
#challenge-reload-button,
#challenge-start-button {
	.button();
}

// Start
#challenge-start-button {
	margin: 40px auto !important;
	width: 80px !important;
}

// Help
#challenge-help-button{
	opacity: 0 !important;
	position: fixed !important;
	bottom: 10px !important;
	left: 10px !important;

	&.show {
		opacity: 1 !important;
	}
}

// Reload page
#challenge-reload-button {
	margin-top: 40px !important;
}


// Active target styling

// --------------------------------------------------
.challenge-active-target {
	z-index: @zIndexDefault !important;

	&:after {
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		content: ' ' !important;
		border: 2px solid rgba(255, 0, 0, 0.8) !important;
		display: block !important;
	}
}


// Explosions

// --------------------------------------------------
.challenge-explosion-wave {
	transition: all 1s;
	z-index: @zIndexDefault + 1;
}


// Score Board

// --------------------------------------------------
#challenge-scoreboard {
	background: @darkTransparentBackground;
	padding: 10px 20px;
	font-size: 16px;
	font-family: @fontFamily;
	position: fixed;
	bottom: 10px;
	left: 45px;
	z-index: @zIndexDefault;
	color: white;
	line-height: 100%;

	span {
		line-height: 100% !important;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.score-label:after {
		content: '/';
	}
}


// Directions dialog wrapper

// --------------------------------------------------
#challenge-directions-wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 616px;
	height: 300px;
	margin-left: -308px;
	margin-top: -150px;
	z-index: @zIndexDefault;

	.default-child-properties();

	.challenge-card {
		background: @darkTransparentBackground;
		padding: 20px 14px;
		margin: 2px;
		float: left;
		color: rgba(255, 255, 255, 0.9);
		width: 200px;
		margin-top: 20px;
		opacity: 0;
		transition: all 700ms;
		text-align: center;

		&.show {
			margin-top: 0;
			opacity: 1;
		}

		h2 {
			margin: 0;
			padding: 0;
			line-height: 120%;
			color: white;
			font-size: 16px;
			font-weight: normal;
		}

		p {
			line-height: 120%; 
			margin: 0;
			margin-top: 10px;
			font-size: 12px;
			font-family: Helvetica;
			font-weight: normal;
			text-shadow: none;
			color: white;
		}

		img {
			margin-top: 20px;
		}
	}
}


// Game over screen

// --------------------------------------------------
#challenge-game-over {
	.dialog();
	opacity: 0;

	.container {
		position: absolute;
		top: 50%;
		left: 10%;
		width: 80%;
		text-align: center;		

		h1 {
			color: #999;
			font-size: 21px;
			font-family: @fontFamily;
			font-weight: normal !importantl;
			margin: 0;
			padding: 0;
			margin-bottom: 30px;
			text-align: center;
		}

		a {
			color: @linkColor;
			text-decoration: none;
			text-shadow: none;

			&:hover {
				color: #0071BC;
			}
		}
	}
}

